.project {
  margin-top: 40px;
}
/* for actual image -> */
/* .projects-card-image {
  width: parent;
  height: 180px;
} */

.project-card {
  /* commented for mobile view -> */
  /* width: 18rem; */
  min-height: 45rem;
  max-height: 51rem;
  margin-bottom: 2px;

}
.card-botton {
  margin: 0px auto 25px auto;
}
.card-botton svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.card-botton:hover svg {
  margin-left: 50px;
}